.screen-header__title-chat {
  font-size: 25px;
  width: 70%;
  font-weight: 600;
  margin-left: 30px;
  color: var(--lightwhite);
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-stamp {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 8px;
  border-radius: 14px;
  font-size: 14px;
  margin: 5px 0px;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  animation: fadeInLeft 0.7s linear backwards;
  margin-top: 15px;
}

.message-row__author {
  color: var(--lightwhite);
  display: block;
  margin-bottom: 13px;
  margin-left: 4px;
  font-size: 18px;
}

.message__bubble {
  display: block;
  padding: 13px;
  border-radius: 13px;
  background-color: var(--darkblue);
  margin: 5px 0px;
  border-top-left-radius: 0px;
  color: var(--lightwhite);
  font-size: 18px;
}

.message__time {
  display: flex;
  align-items: flex-end;
  margin: 0px 5px;
  font-size: 14px;
}

.message-row__cont {
  display: flex;
  width: 100%;
  position: relative;
  left: 53px;
  animation: fadeInLeft 0.7s linear backwards;
}

.message-row__cont .message__bubble {
  border-top-left-radius: 13px;
}

.message-row__own .message__bubble {
  border-top-left-radius: 13px;
  border-top-right-radius: 0px;
}

@keyframes fadeInRight {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row__own {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  position: relative;
  animation: fadeInRight 0.7s linear backwards;
}

.message-row__own .message__bubble {
  background-color: var(--burgundy);
  color: var(--lightwhite);
}

.reply {
  width: 100%;
  background-color: var(--darkblue);
  display: flex;
  position: fixed;
  bottom: 0px;
  padding: 10px 0px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.reply__column > i {
  color: var(--lightwhite);
  font-size: 25px;
  margin: 0px 5px;
}

.reply__column:first-child {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reply__column:last-child {
  width: 90%;
}

.reply__column:last-child > i {
  position: absolute;
  right: 50px;
  top: 15px;
  color: var(--darkblue);
}

.reply__column input {
  width: 95%;
  border-radius: 25px;
  border: var(--main-border);
  padding: 10px;
  transition: all 0.3s ease-in-out;
  background-color: var(--lightwhite);
}

.reply__column button {
  background-color: var(--burgundy);
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 17px;
  top: 15px;
}

.reply__column button i {
  margin: 6px 3px;
  color: var(--lightwhite);
}

.reply:focus-within input {
  width: 94vw;
  transform: translateX(-9%) translateY(-70px);
}

.reply input:focus,
.reply button:focus {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: all 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within {
  transform: translateY(70px);
}

.message__2nd {
  animation-delay: 0.7s;
}

.message__3rd {
  animation-delay: 1.4s;
}

.message__4th {
  animation-delay: 2.1s;
}

.message__5th {
  animation-delay: 2.8s;
}

.message-row__content img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
